<!-- app/views/tasks/edit.html.erb -->

<h1>編集</h1>

<%= form_with(model: @task, url: task_path(@task), method: :patch) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    タイトル
    <%= form.text_field :title %>
  </div>

  <div class="field">
    内容
    <%= form.text_area :description %>
  </div>

  <div class="field">
   開始時間
    <%= form.datetime_local_field :start_time %>
  </div>

  <div class="field">
    終了時間
    <%= form.datetime_local_field :end_time %>
  </div>

  <div class="actions">
    <%= form.submit "更新する" %>
  </div>
<% end %>

<%= link_to '戻る', tasks_path %>
