<!-- app/views/tasks/index.html.erb -->
<h1>自己診断</h1>



<ul>
  <% if user_signed_in? %>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <li>ようこそ、<%= current_user.name %>さん</li>
  <% else %>
    <li><%= link_to '新規登録', new_user_registration_path %></li>
    <li><%= link_to 'ログイン', new_user_session_path %></li>
  <% end %>
</ul>


<%= form_with(model: @new_task, url: tasks_path, method: "post") do |form| %>
  <%= form.text_field :title, placeholder: "タスクを入力してください" %>
  <%= form.text_field :description, placeholder: "内容" %>
   <% current_time = Time.now.strftime("%Y-%m-%dT%H:%M") %>
  <%= form.datetime_local_field :start_time, value: current_time, placeholder: "開始日時を入力してください" %>
  <% current_time = Time.now.strftime("%Y-%m-%dT%H:%M") %>
  <%= form.datetime_local_field :end_time, value: current_time, placeholder: "終了日時を入力してください" %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.submit "追加する" %>
<% end %>






<ul>
  <% @tasks.each do |task| %>
    <li>タイトル  <%= task.title %></li>
    <li>内容 <%= task.description %></li>
    <li>開始時間 <%= task.start_time.strftime("%Y-%m-%d %H:%M") %></li>
    <li>終了時間 <%= task.end_time.strftime("%Y-%m-%d %H:%M") %></li>


    <% # 作業時間を計算して表示 %>
    <% work_duration = task.end_time - task.start_time %>
    <li>作業時間 <%= format_duration(work_duration) %></li>
  <% end %>
</ul>