<h1>ユーザー情報</h1>
ユーザー名<br>
<%= current_user.name %><br>

メールアドレス  <%= link_to '編集', edit_user_registration_path %><br>
<%= current_user.email %><br>


<%= link_to '戻る', tasks_path %>

<%= form_for(@user, url: registration_path(:user)) do |f| %>
  <!-- 既存の Devise フォームの内容 -->

  <!-- 新しく追加 -->
  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>

  <%= f.submit '更新' %>
  
  <!-- 既存の Devise フォームの内容 -->
<% end %>
