<%= form_for [@user, @user_profile], url: user_user_profile_path(@user), method: :patch, html: { multipart: true } do |f| %>
  <!-- 各入力フィールドの例 -->
  <div>
    住所<%= f.text_field :address %>
  </div>

  <div>
    郵便番号<%= f.text_field :postal_code %>
  </div>

  <div>
    電話番号<%= f.text_field :phone_number %>
  </div>

  <div>
    性別<%= f.text_field :gender %>
  </div>

  <div>
    プロフィール画像<%= f.file_field :avatar %>
  </div>

  <!-- Additional form fields... -->
  <%= f.submit "Create Profile" %>
<% end %>
