


ユーザー詳細画面
<% if @user_profile %>
  <%= form_for @user_profile, url: user_profiles_path, method: :post, html: { multipart: true } do |f| %>
    <div>
      住所<%= f.text_field :address %>
    </div>

  <div>
    郵便番号<%= f.text_field :postal_code %>
  </div>

  <div>
    電話番号<%= f.text_field :phone_number %>
  </div>

  <div>
    性別<%= f.text_field :gender %>
  </div>

  <div>
    プロフィール画像<%= f.file_field :avatar %>
  </div>

    <!-- Additional form fields... -->
    <%= f.submit "Create Profile" %>
  <% end %>
<% end %>